# Obsidian 工作区缓存（不需要同步）
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/
.obsidian/themes/
.obsidian/hotkeys.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/community-plugins.json

# macOS
.DS_Store
